extends layout
block content
	.container-fluid
		div(class="row-fluid")
			div(class="span12")
				if (error)
					p(class="alert alert-error") #{error.message}
				form(method="post",action="/ChangePasswordPost", class="form-horizontal")
					input(type="Text",id="oldPassword",name="oldPassword",class="span12",placeholder="Enter Your old password",autofocus="autofocus")
					p
					input(type="Text",id="newPassword",name="newPassword",class="span12",placeholder="Enter Your new password")
					p
					button(type="submit",class="btn btn-primary") change password


		