.row-fluid
	.span12(style="background-color:white")
		.footer(style="float:left")
			p &copy; Company 2013
		div(style="float:right;text-align:left")
			a(href="http://www.twitter.com", target="_blank") twitter | 
			a(href="http://www.linkedin.com",target="_blank") linkedin