doctype
html
	head 
		title blog site
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		style(type="text/javascript" src="/javascripts/bootstrap.js")
	body
		.container-fluid
			block content